---
 import Footer from '../css/footer.astro'
---
<meta charset="UTF-8" />  
      <header>
        <navbar>
            <a href="#" class="logo">LOGO</a>
            <a href="#" class="head">LOGIN</a>
        </navbar>
      </header>

    <!-- mi articulo -->

     <section class="post-header">

       <div class="header-content post-container ">

        <a href="/" class="back-home">Regresar</a>

        <h1 class="header-title">ÁNGULOS VISUALES DE UNA ANTENA</h1>

        <img src="/img/post.6.jpg" alt="" class="header-img">

       </div>

     </section>


     <!-- contenido del post -->

     <section class="post-container">

      <p class="post-content"><h4>ÁNGULOS VISUALES DE UNA ANTENA</h4>
       <br>
        Para optimizar el funcionamiento de un sistema de comunicaciones por satélite, la dirección de 
        ganancia máxima de una antena de estación terrestre (que a veces se llama la mira) se debe apuntar 
        directamente al satélite.
        Para asegurar que esté alineada la antena de la estación terrestre,deben determinar dos ángulos: 
        el azimut, y la elevación. El ángulo de azimut y el de elevación se llaman, en conjunto, ángulos de visual de la antena. Con los satélites geosíncronos, los ángulos de visual de las antenas terrestres sólo se deben ajustar una vez, porque el satélite permanece siempre en determinada posición, salvo pequeñas variaciones ocasionales.
        La ubicación de un satélite se suele especificar en términos de latitud 
        y longitud, en forma parecida a como se ubica un punto sobre la Tierra; 
        sin embargo, como un satélite está en órbita a muchas millas sobre la superficie
         terrestre, no tiene latitud ni longitud. En consecuencia, su lugar se identifica 
         con un punto en la superficie terrestre directamente abajo del satélite. Este punto 
         se llama punto subsatelital (SSP, de subsatellite point), y para los satélites
          geosíncronos SSP debe caer en el ecuador. Estos puntos subsatelitales, y las
           ubicaciones de las estaciones terrestres se especifican con coordenadas normales 
           de latitud y longitud. La convención normal especifica los ángulos de longitud 
           entre 0° y 180° al este o al oeste del meridiano de Greenwich.
           Las latitudes del Hemisferio Norte son ángulos de 0° a 90° N, y las del Hemisferio Sur son de 0° a 90° S. Como los satélites geosíncronos están directamente arriba del ecuador, todos tienen latitud 0°. Por consiguiente, las ubicaciones de los satélites geosíncronos se suelen especificar en grados de longitud al este o al oeste del meridiano de Greenwich, por ejemplo, 122° Oeste 78° E.   
La figura muestra la posición de un vehículo satelital geosíncrono hipotético (GSV, de geosynchronous satellite vehicle, su respectivo punto subsatelital (SSP) y una estación terrestre (ES) arbitraria, todos ellos con relación al geocentro. El SSP del satélite de la fig. 18-9 es 30°de longitud y 0° de latitud. La estación terrestre tiene una ubicación de 30° O de longitud20° N de latitud.

<img src="/img/img4.JPG" class="post-img">
        <br>
        Ángulo de elevación<br>
El ángulo de elevación es el ángulo vertical que se forma entre la dirección 
de movimiento de una onda electromagnética irradiada por una antena de estación 
terrestre que apunta directa- mente hacia un satélite, y el plano horizontal. 
Mientras menor es el ángulo de elevación, la distancia que debe recorrer una onda propagada a través de la atmósfera terrestre es mayor.
Como en el caso de cualquier onda propagada por la atmósfera terrestre, sufre absorción,también se puede contaminar mucho con ruido. En consecuencia, si el ángulo de elevación es muy pequeño y la distancia que la onda viaja por la atmósfera terrestre es demasiado grande, la onda se puede deteriorar hasta el grado de ya no proporcionar una calidad aceptable de transmisión.
<img src="/img/img5.JPG" class="post-img">
<br>
Ángulo de azimut<br>
El azimut es la distancia angular horizontal a una dirección de referencia, que puede ser el punto sur o el norte del horizonte. El ángulo de azimut se define como el ángulo horizontal de apuntamiento de una antena de estación terrestre. Para fines de navegación, el ángulo de azimut se suele medir en grados a partir del norte verdadero, en el sentido de las manecillas del reloj. Sin embargo, para las estaciones terrestres del Hemisferio Norte con satélites en órbitas geosíncronas, la referencia en general del ángulo de azimut es la dirección del sur verdadero (es decir, 180°).
<br>
<img src="/img/img6.JPG" class="post-img">

<br>

PATRÓN DE RADIACION DE ANTENAS SATELITALES: HUELLAS<br>
El área que cubre un satélite en la Tierra depende de la localización del satélite en su órbita,frecuencia de portadora y la ganancia de su antena.
Los técnicos de satélites seleccionan la antena y la frecuencia de portadora para determinado satélite, de modo que concentre la potencia limitada de transmisión en un área específica de la superficie terrestre. La representación geográfica del patrón de radiación de la antena de un satélite se llama huella, o a veces mapa de huella. En esencia, una huella de un satélite es la zona, sobre la superficie terrestre, desde donde el satélite puede recibir o hacia donde puede transmitir. La forma de la huella de un satélite depende de su trayectoria orbital, su altura y el tipo de antena que se use.
Mientras más alto esté el satélite, podrá abarcar más superficie terrestre. En la figur se ve una 
huella típica de satélite.
<img src="/img/img7.JPG" class="post-img">
<br>
<br>Haces locales y zonales<br>
<br>
Los haces más pequeños son los haces localizados, y les siguen los haces zonales. Los localizados concentran su potencia en áreas geográficas muy pequeñas y, en consecuencia, suelen EIRP mayores que los que abarcan áreas mucho mayores, porque determinada potencia de salida se puede concentrar más.
Los haces localizados y los zonales cubren menos del 10% de lacie terrestre. Mientras mayor sea la frecuencia del enlace de bajada, un haz puede ser enfocado con más facilidad hacia una zona más pequeña.
Por ejemplo, la nueva generación de satélites de alta potencia de banda Ku puede tener varios haces localizados que mandan las mismas frecuencias, transmitiendo distintas señales a áreas dentro de determinado país. En general, la mayor parte huellas de banda Ku no cubren áreas continentales completas y tienen cobertura geográfica mas limitada que sus contrapartes de banda C. Por lo anterior, es importante tener un conocimiento detallado de la EIRP local, para tratar de recibir emisiones de satélites de banda Ku.
<br><br>Haces hemisféricos<br><br>
Las antenas de enlace descendente hemisférico abarcan en forma característica hasta ella superficie terrestre y, por consiguiente, tienen EIRP 3 dB o 50% menores que las transmiti-das por haces localizados que abarcan el 10% de la superficie terrestre.
<br><br>Haces globales<br><br>
Las distribuciones de radiación de las antenas de cobertura mundial o global tienen unaproximado de banda de 17°, y son capaces de abarcar hasta un 42% de la superficie terrestre, que es la visual máxima de cualquier satélite geosíncrono. Los niveles de potencia son menores en los haces globales que en los localizados, zonales o hemisféricos, y son necesarios grandes platos receptores para detectar en forma adecuada emisiones de video, audio y datos
<br><br>Reuso<br><br>
Cuando se llena una banda asignada de frecuencias, se puede obtener una capacidad adicional reusando el espectro de frecuencias. Si se aumenta el tamaño de una antena (es decir, si aumenta la ganancia de la antena), también se reduce su ancho de banda. Así, se pueden dirigir distintos haces de la misma frecuencia a distintas áreas geográficas de la Tierra. A esto se le llama reuso de frecuencia. Otro método de reuso de frecuencia es la polarización dual. Se transmiten distintas señales de información hacia distintos receptores en Tierra usando la misma banda de frecuencias, tan sólo con orientar sus polarizaciones electromagnéticas ortogonalmente desfasadas 90°). La polarización dual es menos efectiva, porque la atmósfera terrestre tiene una tendencia a reorientar, o repolarizar, una onda electromagnética que pase por ella. El reuso es más que otro modo de aumentar la capacidad de un ancho limitado de banda.

</p><br>
           
           <div class="autor">
                
           </div>
     </section>

    <Footer />
   
     <style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500&display=swap');
	:root{
    --color-primary: rgb(33, 33, 34);
    --color-primary-light: hsla(300, 53%, 47%, 0.18);
 

    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #c51381;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-gray-100:  rgba(194, 88, 106, 0.795);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem 0;
	
    
}



*{
    margin: 0;
    padding: 0;
    outline:0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Monserrat', sans-serif;
    line-height: 1.6;
    color: white;
    overflow-x: hidden ;
    background: black;
    font-size: 0.9rem;
  
}


h1,h2,h3,h4,h5{
    color: var(--color-white);
    line-height: 1.3;
    text-align: center;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size:1rem ;
}
a{
    color: var(--color-white);
    transition: var(--transition);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

</style>


   <style>

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsla(346, 6%, 44%, 0.423);
    transition: 0.4s;
  }
  header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsla(346, 6%, 44%, 0.423);
    transition: 0.4s;
  }
  header.shadow .logo{
    color: var(--text-color);
  }

  navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
        width: 100vw;
        height: 4rem;
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: 0 1rem 1rem rgba(133, 130, 130, 0.3);
        padding: 30px;
  }

  .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    
  }

   .post-header{
    width: 100%;
    height: 600px;
    background: var(--color-primary);
  }
  .post-header img{
    border-radius: 0.5rem;
  }
  .post-container{

    max-width: 800px;
    margin: auto;
    width: 100%;
  }
  .header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
 
  }
  .back-home{
    color: var(--second-color);
    font-size: 1rem;
  }
  .header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
  }
  .header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;

  }

  .post-content{
    margin-top: 3rem;

    font-size:3rem;
    text-align: justify;
  }
  .sub-heading{
    font-size: 1.2rem;
    text-align: center;
  }
  .post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
  }
 
  .autor{
    display: flex;
    flex-direction: column;
    align-items: right;
    row-gap: 2rem;
    margin: 2rem 0 2rem 0;
  }

  .post-img{
    width: 90%;
    height: 300px;
  }
  
   </style>