---
 import Footer from '../css/footer.astro'
---
<meta charset="UTF-8" />  
      <header>
        <navbar>
            <a href="#" class="logo">LOGO</a>
            <a href="#" class="head">LOGIN</a>
        </navbar>
      </header>

    <!-- mi articulo -->

     <section class="post-header">

       <div class="header-content post-container ">

        <a href="/" class="back-home">Regresar</a>

        <h1 class="header-title">Satélites</h1>

        <img src="/img/post.6.jpg" alt="" class="header-img">

       </div>

     </section>


     <!-- contenido del post -->

     <section class="post-container">

      <p class="post-content"><h4>Satélites</h4>
        <br>
        Satélite desde el punto de vista astronómico y aeroespacial
        En términos astronómicos, un satélite es un cuerpo celeste que gira en órbita en torno a un planeta (por ejemplo, la Luna es un satélite de la Tierra). Sin embargo, en términos aeroespaciales un satélite es un vehículo espacial lanzado por humanos, que describe órbitas alrededor de la Tierra o de otro cuerpo celeste.
        <br>
        ¿Por que un satélite no se cae?
        Un satélite permanece en órbita porque las fuerzas centrífugas causadas por su rotación en torno a la Tierra se equilibran con la atracción gravitacional de ésta.
        <br>
        
          
<br>
Dispositivos que componen a un satélite de comunicaciones<br>
En esencia, un satélite de comunicaciones es una repetidora de microondas en el cielo, formada por una diversa combinación de uno o más de los siguientes dispositivos: receptor, transmisor, regenerador, filtro, computadora de a bordo, multiplexor, demultiplexor, antena, guía de onda y casi cualquier otro circuito de comunicaciones electrónicas que se haya desarrollado.
Una radio repetidora satelital se llama transpondedor, y un satélite puede tener muchos de ellos.
<br>Sistema satelital<br>
Un sistema satelital consiste en uno o más vehículos espaciales, una estación en la Tierra para
 controlar el funcionamiento del sistema y una red de estaciones usuarias en la Tierra que proporcionan las instalaciones de interfaz para transmitir y recibir el tráfico de comunicaciones terrestres a través del sistema satelital.
<br>
<br>
Historia de los satélites<br>
El tipo más sencillo de satélite es un reflector pasivo, que sólo “rebota” las señales de un lugar a otro. Un satélite pasivo refleja las señales de regreso a la Tierra, porque no hay a bordo dispositivos de ganancia que amplifiquen o modifiquen las señales. La Luna es un satélite natural de la Tierra, visible por reflexión de la luz solar, y que tiene una órbita ligeramente elíptica. En consecuencia, la Luna fue el primer satélite pasivo en 1954, cuando la Marina de E. U. A., transmitió bien el primer mensaje por este sistema de comunicaciones de la Tierra a la Luna y a la Tierra.
En 1956 se estableció un sistema de repetidoras entre Washington, D. C., y Hawaii, y hasta 1962 ofreció un servicio confiable de radiocomunicaciones de larga distancia, limitado sólo por la disponibilidad de la Luna. Sin embargo, al paso del tiempo, se vio que la Luna es un satélite de comunicaciones incómodo y no confiable, porque sólo está sobre el horizonte la mitad del tiempo, y su posición respecto a la Tierra cambia en forma constante.
Una ventaja obvia de los satélites pasivos es que no requieren equipos electrónicos complicados a bordo, aunque no necesariamente carezcan de energía. Algunos satélites pasivos requieren transmisores por radiofaro, para fines de rastreo y telemetría. Un radiofaro es una portadora no modulada, transmitida en forma continua, a la que se puede fijar una estación terrestre para usarla en la determinación del lugar exacto de un satélite, para que la estación terrestre pueda alinear sus antenas. Otra desventaja de los satélites pasivos es su uso ineficiente de la potencia transmitida. Por ejemplo, una cantidad tan pequeña como 1 parte de cada 1018 de la potencia transmitida por la estación terrestre regresa en realidad a las antenas receptoras de otras estaciones terrestres.
En 1957, Rusia lanzó el Sputnik I, el primer satélite terrestre activo. Un satélite activo es capaz de recibir, amplificar, reconformar, regenerar y retransmitir información. El Sputnik I transmitió información de telemetría durante 21 días. Después, el mismo año, Estados Unidos lanzó el Explorer I, que transmitió información de telemetría durante casi cinco meses.
La NASA lanzó el Score, en 1958, un satélite cónico de 150 lb. Con una grabación en cinta a bordo, retransmitió el mensaje de Navidad de 1958, del presidente Eisenhower. Score fue el primer satélite artificial en usarse para retransmitir comunicaciones terrestres. Era un satélite repetidor con retardo, porque recibía transmisiones de estaciones terrestres, las guardaba en cinta magnética, y a continuación las reemitía después hacia estaciones terrestres, más adelante en su órbita.
También la NASA, en conjunto con Bell Telephone Laboratories y el Jet Propulsion Laboratory lanzaron Echo en 1960, un globo de plástico de 100 pies de diámetro, con recubrimiento de aluminio. Echo reflejaba en forma pasiva las señales que recibía de grandes antenas de la estación terrestre. Era sencillo y confiable, pero requería transmisores de potencia extremadamente alta en las estaciones terrestres. La primera transmisión trasatlántica en usar un satélite se logró con Echo.
También en 1960, el Departamento de la Defensa de E. U. A., lanzó Courier, que fue el primer satélite del tipo de transpondedor. Courier transmitió 3 W de potencia y sólo duró 17 días.
En 1962, AT&T lanzó Telstar I, el primer satélite activo en recibir y transmitir señales de radio en forma simultánea. El equipo electrónico de Telstar I se dañó con la radiación de los recién descubiertos cinturones de Van Allen y, en consecuencia, sólo duró unas pocas semanas. En 1963 fue lanzado Telstar II, con éxito, y era idéntico, electrónicamente, al Telstar I, pero más re- sistente a la radiación. Se usó Telstar II para transmisiones telefónicas, de TV, facsímil y datos, y logró transmitir bien la primera transmisión trasatlántica de video.
El Syncom I se lanzó en febrero de 1963, y fue el primer intento de colocar en órbita un satélite geosincrónico. Desafortunadamente, se perdió durante su inyección en órbita; sin embargo, fueron lanzados con éxito el Syncom II y el Syncom III en febrero de 1963 y en agosto de 1964, respectivamente. El satélite Syncom II se usó en la transmisión de los Juegos Olímpicos de Tokio, en 1964. Los satélites Syncom demostraron la factibilidad de usar satélites geosíncronos.
A partir de los proyectos Syncom, varias naciones y empresas privadas han lanzado con éxito satélites que hoy se usan para proporcionar comunicaciones globales nacionales, regionales e internacionales. Hoy, hay varios cientos de sistemas satelitales de comunicaciones que funcionan casi en cualquier rincón del mundo. Estas empresas proporcionan circuitos mundiales, telefónicos y de datos, de portadora común fija, emisión de televisión de punto a punto, distribución de red de televisión, emisión de música, servicio de teléfono móvil, servicio de navegación y redes privadas de comunicaciones para grandes corporaciones, agencias gubernamentales y aplicaciones militares.
El primer satélite comercial de telecomunicaciones fue Intelsat I (apodado pájaro madrugador). Fue lanzado de Cabo Kennedy en 1965, y usó dos transpondedores y un ancho de banda de 25 MHz, para conducir en forma simultánea una señal de televisión y 480 canales de voz. Intelsat quiere decir Organización Internacional de Telecomunicaciones Satelitales. Es una red comercial global que se manifestó en 1964, desde el interior de las Naciones Unidas. Es un consorcio de más de 120 naciones, que tiene el compromiso de proporcionar comunicaciones satelitales a nivel mundial, sin discriminación, usando cuatro categorías básicas de servicio: telefonía internacional conmutada pública, emisiones de radio y TV, redes de líneas privadas y comerciales y comunicaciones domésticas y regionales. Entre 1966 y 1987, Intelsat lanzó una serie de satélites llamados Intelsat II, III, IV, V y VI. El Intelsat VI tiene una capacidad de 80,000 canales de voz. Entre los lanzamientos más recientes de satélites de Intelsat están los vehículos espaciales de las series 500, 600, 700 y 800.
La antigua Unión Soviética lanzó el primer conjunto de satélites domésticos (Domsats) o nacionales en 1966, llamándolos Molniya, que quiere decir “relámpago”. Los Domsats son satélites que son propiedad de un solo país, que los opera y usa. En 1972, Canadá lanzó su primer satélite comercial llamado Anik, palabra Inuit que quiere decir “hermanito”. La Western Union lanzó su primer satélite Westar en 1984, y la Radio Corporation of America (RCA) lanzó sus primeros Satcom (Satellite Communications) en 1975. Hoy, en Estados Unidos, una empresa de propiedad pública, llamada Communications Satellite Corporation (Comsat) reglamenta el uso y funcionamiento de los satélites estadounidenses, y también establece sus tarifas. Aunque una empresa o gobierno puede poseer un satélite, por lo general, sus instalaciones se ponen a la disposición de quien quiera pagarlas. En Estados Unidos se usa hoy la mayor parte del tiempo mundial disponible de satélites: el 24%; el segundo lugar es de Gran Bretaña con 13% y les sigue Francia con 6%.

</p><br>
           
           <div class="autor">
              
           </div>
     </section>

    <Footer />
   
     <style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500&display=swap');
	:root{
    --color-primary: rgb(33, 33, 34);
    --color-primary-light: hsla(300, 53%, 47%, 0.18);
 

    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #c51381;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-gray-100:  rgba(194, 88, 106, 0.795);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem 0;
	
    
}



*{
    margin: 0;
    padding: 0;
    outline:0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Monserrat', sans-serif;
    line-height: 1.6;
    color: white;
    overflow-x: hidden ;
    background: black;
    font-size: 0.9rem;
  
}


h1,h2,h3,h4,h5{
    color: var(--color-white);
    line-height: 1.3;
    text-align: center;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size:1rem ;
}
a{
    color: var(--color-white);
    transition: var(--transition);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

</style>


   <style>

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsla(346, 6%, 44%, 0.423);
    transition: 0.4s;
  }
  header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsla(346, 6%, 44%, 0.423);
    transition: 0.4s;
  }
  header.shadow .logo{
    color: var(--text-color);
  }

  navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
        width: 100vw;
        height: 4rem;
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: 0 1rem 1rem rgba(133, 130, 130, 0.3);
        padding: 30px;
  }

  .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    
  }

   .post-header{
    width: 100%;
    height: 600px;
    background: var(--color-primary);
  }
  .post-header img{
    border-radius: 0.5rem;
  }
  .post-container{

    max-width: 800px;
    margin: auto;
    width: 100%;
  }
  .header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
 
  }
  .back-home{
    color: var(--second-color);
    font-size: 1rem;
  }
  .header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
  }
  .header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;

  }

  .post-content{
    margin-top: 3rem;

    font-size:3rem;
    text-align: justify;
  }
  .sub-heading{
    font-size: 1.2rem;
    text-align: center;
  }
  .post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
  }
 
  .autor{
    display: flex;
    flex-direction: column;
    align-items: right;
    row-gap: 2rem;
    margin: 2rem 0 2rem 0;
  }

  .post-img{
    width: 90%;
    height: 300px;
  }
  
   </style>