

<section id="post-section">   
    <div class="post"> 
  
      
         
         <!-- post 5  -->

         <div class="post-box">
          <img src="img/post.1.jpg" alt="" class="post-img">
          <h2 class="category"><a href="/post-principal" >Modelos de Enlaces de Sistemas Satelitales: Parte I</a></h2>
          <a href="/post-principal" class="post-tittle">Modelos de Enlaces de Sistemas Satelitales: Parte I</a>
          <span class="post-date"></span>
          <p class="post-description"> Una red satelital consiste de un transponder (dispositivo receptortransmisor), una estación basada en 
            tierra que controlar su funcionamiento y una red de usuario, de las estaciones terrestres, que proporciona
             las facilidades para transmisión y recepción del tráfico de comunicaciones, a través del sistema de 
             satélite
          </p>
          <div class="profile">
            <img src="img/profile-2.jpg" alt="" class="profile-img">
            <span class="profile-name">Autor</span>

          </div>
        </div>

         <!-- post 6  -->

         <div class="post-box">
          <img src="img/post.5.jpg" alt="" class="post-img">
          <h2 class="category"><a href="/post-segundo" >Modelos de Enlaces de Sistemas Satelitales: Parte II</a></h2>
          <a href="/post-segundo" class="post-tittle">Modelos de Enlaces de Sistemas Satelitales: Parte II </a>
          <span class="post-date"></span>
          <p class="post-description">Un transpondedor satelital típico consiste en un dispositivo limitador de banda de entrada (filtro pasabandas), un amplificador de bajo ruido (LNA, de low-noise amplifier) de entrada, un
            desplazador de frecuencia, un amplificador de potencia de bajo nivel y un filtro pasabandas de
            salida
          </p>
          <div class="profile">
            <img src="img/profile-2.jpg" alt="" class="profile-img">
            <span class="profile-name">Autor</span>

          </div>
        </div>

         <!-- post 7  -->

         <div class="post-box">
          <img src="img/post.5.jpg" alt="" class="post-img">
          <h2 class="category"><a href="/post-tercero" >Modelos de Enlaces de Sistemas Satelitales: Parte III</a></h2>
          <a href="/post-tercero" class="post-tittle"> Modelos de Enlaces de Sistemas Satelitales: Parte III</a>
          <span class="post-date"></span>
          <p class="post-description"> Un receptor en la estación terrestre comprende un BPF de entrada, un LNA y un convertidor
            descendente de RF a FI. La siguiente muestra un diagrama de bloques de un receptor típico
            de estación terrestre
          </p>
          <div class="profile">
            <img src="img/profile-2.jpg" alt="" class="profile-img">
            <span class="profile-name">Autor</span>

          </div>
        </div>

        <!-- post 8  -->

        <div class="post-box">
          <img src="img/post.6.jpg" alt="" class="post-img">
          <h2 class="category"><a href="/post-cuartoo" >PARÁMETROS DEL SISTEMA DE SATÉLITES</a></h2>
          <a href="/post-cuartoo" class="post-tittle">PARÁMETROS DEL SISTEMA DE SATÉLITES</a>
          <span class="post-date"></span>
          <p class="post-description"> Pérdida por reducción
            Los amplificadores de alta potencia que se usan en las estaciones transmisoras terrestres y los
            tubos de onda viajera que se usan en los satélites transpondedores son dispositivos no lineales;
            su ganancia (potencia de salida entre potencia de entrada) depende del nivel de la señal de entrada.
          </p>
          <div class="profile">
            <img src="img/profile-1.jpg" alt="" class="profile-img">
            <span class="profile-name">Autor</span>

          </div>
        </div>

<!-- post 9  -->

<div class="post-box">
  <img src="img/post.6.jpg" alt="" class="post-img">
  <h2 class="category"><a href="/post-quinto" >Categorías de elevación de satélites</a></h2>
  <a href="/post-quinto" class="post-tittle"> Categorías de elevación de satélites</a>
  <span class="post-date"></span>
  <p class="post-description"> En términos astronómicos, un satélite es un cuerpo
     celeste que gira en órbita en torno a un planeta (por ejemplo, la Luna es un satélite de la Tierra). 
  </p>
  <div class="profile">
    <img src="img/profile-1.jpg" alt="" class="profile-img">
    <span class="profile-name">Autor</span>

  </div>
</div>


<!-- post 10  -->

<div class="post-box">
  <img src="img/post.6.jpg" alt="" class="post-img">
  <h2 class="category"><a href="/post-sexto" >Leyes Planetarias</a></h2>
  <a href="/post-sexto" class="post-tittle"> Leyes Planetarias</a>
  <span class="post-date"></span>
  <p class="post-description"> A principios del siglo XVII, al investigar las leyes del movimiento planetario (es decir, el movimiento de los planetas y sus cuerpos asociados llamados lunas), Johannes Kepler (1571-1630), astrónomo alemán, descubrió las leyes que gobiernan el movimiento de los satélites.
    Las leyes de Kepler se pueden aplicar a dos cuerpos cualesquiera en el espacio que interaccionen por gravitación. El mayor de los dos cuerpos se llama primario, y el menor es el secundario, o satélite.

  </p>
  <div class="profile">
    <img src="img/profile-1.jpg" alt="" class="profile-img">
    <span class="profile-name">Autor</span>

  </div>
</div>


<!-- post 11  -->

<div class="post-box">
  <img src="img/post.6.jpg" alt="" class="post-img">
  <h2 class="category"><a href="/post-septimo" >Categorías de elevación de satélites</a></h2>
  <a href="/post-septimo" class="post-tittle"> Categorías de elevación de satélites</a>
  <span class="post-date"></span>
  <p class="post-description"> En general, los satélites se clasifican por tener ya sea una órbita terrestre baja (LEO, por low Earth orbit), órbita terrestre intermedia (MEO, por medium Earth orbit) o una órbita terrestre geosíncrona (GEO, por geosynchronous Earth orbit).
    La mayoría de los satélites LEO trabaja en el intervalo de frecuencias de 1.0 a 2.5 GHz

  </p>
  <div class="profile">
    <img src="img/profile-1.jpg" alt="" class="profile-img">
    <span class="profile-name">Autor</span>

  </div>
</div>

<!-- post 12  -->

<div class="post-box">
  <img src="img/post.6.jpg" alt="" class="post-img">
  <h2 class="category"><a href="/post-octavo" >ÁNGULOS VISUALES DE UNA ANTENA</a></h2>
  <a href="/post-octavo" class="post-tittle"> ÁNGULOS VISUALES DE UNA ANTENA</a>
  <span class="post-date"></span>
  <p class="post-description">  Para optimizar el funcionamiento de un sistema de comunicaciones por satélite, la dirección de 
    ganancia máxima de una antena de estación terrestre (que a veces se llama la mira) se debe apuntar 
    directamente al satélite.

  </p>
  <div class="profile">
    <img src="img/profile-1.jpg" alt="" class="profile-img">
    <span class="profile-name">Autor</span>

  </div>
</div>



        

      </div>

    </section>


    <style>
        .post {
    width: 90%;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }

  .post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px  hsla(346, 6%, 44%, 0.423);
    padding: 15px;
    border-radius: 0.5rem;
  }

  .post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }

  .profile{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
  }
  .profile-name{
    font-size: 0.8rem;
    font-weight: 500;
  }
    </style>