<section class="portada" >
    <div class="home">
        <h2 class="home-tittle">Comunicaciones Satelitales</h2>
          <span class="home-subtitle">Bienvenidos al estudio de las telecomunicaciones
          </span>
    </div>
</section>

<style>
    .portada{
    min-height: 620px;
    background-image: url("img/satelite.jpg");
    background-size: cover ;
    display: grid;
    background-repeat: no-repeat;
    justify-content:center;
    align-items:center;
    text-align: center;

    }

    .home-tittle{
        font-size: 5rem;
        color: white;
        text-shadow: 4px 4px 1px var(--color-primary);
    }

    .home-subtitle{
        font-size: 1.5rem;
        color: var(--color-white);
        text-shadow: 3px 3px 1px black;
    
    }
</style>